name: formatting
on: {workflow_dispatch, push: {branches: [main]}, pull_request}
jobs:
  prettier:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6.0.0
      - uses: cachix/install-nix-action@v31
        with:
          extra_nix_config: |
            experimental-features = nix-command flakes
      - run: nix-env -f . -iA pkgs.nodePackages.prettier
      - run: prettier --check .
  nixpkgs-fmt:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6.0.0
      - uses: cachix/install-nix-action@v31
        with:
          extra_nix_config: |
            experimental-features = nix-command flakes
      - run: nix-env -f . -iA pkgs.nixpkgs-fmt
      - run: nixpkgs-fmt --check .
