name: statix
on: {workflow_dispatch, push: {branches: [main]}, pull_request}
jobs:
  statix:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6.0.0
      - uses: cachix/install-nix-action@v31
        with:
          extra_nix_config: |
            experimental-features = nix-command flakes
      - run: nix-env -f . -iA pkgs.statix
      - run: statix check || true
